body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.menu-main {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-main a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.menu-main a::before {
    content: "• ";
}

form {
    max-width: 500px;
    margin: 20px auto 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}
h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
#results h2 {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#results {
    max-width: none; 
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    white-space: pre-wrap; /* Conserva saltos de línea y ajusta texto según sea necesario */
    text-align: center;
    overflow: auto;        /* Añade barras de desplazamiento si es necesario */
}



form[action="/harvester"] {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}
