<!DOCTYPE html>
<html>
<head>
    <title>Proyecto</title>
    <!-- Enllaç als estils CSS -->
    <link rel="stylesheet" type="text/css" href="/static/index_styles.css">
</head>
<body>
    <!-- Capçalera principal -->
    <h1>Menú Principal</h1>
    <p>Selecciona una de les següents opcions:</p>

    <!-- Llista d'enllaços a les diferents opcions del projecte -->
    <ul>
        <li><a href="/shodan">Shodan API</a></li>
        <li><a href="/harvester">The Harvester</a></li>
        <li><a href="/nmap">Escaneig (Nmap)</a></li>
        <li><a href="/ssh">Auditoría SSH</a></li>
        <li><a href="/enum4linux">Escaneig (Enum4linux)</a></li>
    </ul>
</body>
</html>
