<!DOCTYPE html>
<html>
<head>
    <title>Proyecto</title>
    <link rel="stylesheet" type="text/css" href="/static/index_styles.css">
</head>
<body>
    <h1>Menú Principal</h1>
    <p>Selecciona una de las siguientes opciones:</p>
    <ul>
        <li><a href="/shodan">Shodan API</a></li>
        <li><a href="/harvester">The Harvester</a></li>
        <li><a href="/nmap">Escaneo (Nmap)</a></li>
        <li><a href="/ssh">Auditoría SSH</a></li>
        <li><a href="/enum4linux">Escaneo (Enum4linux)</a></li>
    </ul>
</body>
</html>
