<!DOCTYPE html>
<html lang="ca">
<head>
    <!-- Títol de la pàgina -->
    <title>Menú de l'API de Shodan</title>
    
    <!-- Establir la codificació del document -->
    <meta charset="UTF-8">
    
    <!-- Enllaç a l'arxiu de estils CSS -->
    <link rel="stylesheet" type="text/css" href="/static/shodan_styles.css">
    
    <!-- Script JavaScript per a la funcionalitat de mostrar/ocultar camps -->
    <script>
        function toggleServiceNameInput() {
            var optionSelect = document.getElementById("option");
            var serviceNameLabel = document.getElementById("service_name_label");
            var serviceNameInput = document.getElementById("service_name");

            if (optionSelect.value === "4") {
                serviceNameLabel.style.display = "block";
                serviceNameInput.style.display = "block";
            } else {
                serviceNameLabel.style.display = "none";
                serviceNameInput.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <!-- Menú de Shodan -->
    <div class="menu-shodan">
        <a href="/shodan">Shodan API</a>
        <a href="/harvester">The Harvester</a>
        <a href="/nmap">Escaneig (Nmap)</a>
        <a href="/ssh">Auditoria SSH</a>
        <a href="/enum4linux">Escaneig (Enum4linux)</a>
    </div>
    
    <!-- Capçalera de la pàgina -->
    <h1>Menú de l'API de Shodan</h1>

    <!-- Formulari per a l'API de Shodan -->
    <form method="POST">
        <label for="domain">Insereix un objectiu en format URL</label>
        <input type="text" name="domain" required>
        <br><br>
        
        <label for="option">Escull una de les següents opcions:</label>
        <select name="option" id="option" onchange="toggleServiceNameInput()">
            <option value="1">Cerca d'informació de l'API de Shodan</option>
            <option value="2">Noms de domini i ports oberts</option>
            <option value="3">Servei relacionat a cada port</option>
            <option value="4">A quines IP i quins ports puc trobar aquest servei?</option>
        </select>
        
        <br><br>
        
        <!-- Camps específics per a l'opció 4 (inicialment ocults) -->
        <p id="service_name_label" style="display:none;">Insereix el nom del servei que vols escanejar:</p>
        <input type="text" name="service_name" id="service_name" style="display:none;">
        <br><br>

        <!-- Botó de presentació del formulari -->
        <input type="submit" value="Enviar">
    </form>

    <!-- Resultats de l'API de Shodan -->
    <h2>Resultats:</h2>
    <ul>
        {% for result in results %}
            <li>
                <ul>
                    {% for key, value in result.items() %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <!-- Formulari per a accions addicionals -->
    <form method="POST" action="/shodan">
        <input type="submit" name="clear" value="Borrar resultats">
        <input type="submit" name="send_results" value="Enviar resultats per Telegram">
    </form>
    
</body>
</html>
